/* General Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f3f3f6;
  color: #333;
}

/* Main Content Styles */
.app-main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 2rem; */
}
