.app-footer {
  background: #ffffff;
  color: #000000;
  padding: 2rem 3rem;
  font-size: 0.9rem;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-left: 20rem;
}

.footer-section {
  flex: 1;
  margin: 0 1rem;
}

.footer-section h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #1e3c72;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  color: #333;
}

.footer-section ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.app-footer p {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.8rem;
  color: #666;
}
.logo {
  display: flex;
  /* margin-left: 11rem; */
  /* justify-content: center; */
  /* align-items: center; */
}
.footer-rentIt{
  margin-top: 6px;
  color: #000000;
}
