.landing-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: url("../../../../public/map.png") no-repeat;
  color: #333;
  background-position: right;
  width: 100%;
  /* margin-left: 5rem; */
}

.logo a {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #a1c4fd;
}

.landing-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 8rem 5rem;
  /* margin-right:32rem; */
  margin-left: 8rem;
}

.landing-main h3 {
  font-size: 2.5rem;
  color: #000000;
  text-align: left;
}

.landing-main p {
  font-size: 0.8rem;
  color: #000000;
}

.search-bar {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 2rem;
  border: #f3f3f6 0.3px solid;
}

.search-btn:hover {
  background: #2980b9;
}

.search-input-container {
  position: relative;
  display: flex;
  align-items: center;
  /* width: 600px; */
}

.search-input {
  padding-right: 100px;
  box-sizing: border-box;
  width: 700px;
  height: 70px;
}

.search-btn {
  position: absolute;
  right: 0;
  height: 60%;
  width: 200px;
  border: none;
  background-color: #7065f0;
  color: white;
  padding: 0 15px;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 5px;
}

.search-btn:hover {
  background-color: #ffffff;
  color: #7065f0;
  border: #7065f0 2px solid;
}
/* Container for the cards */
.data-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
  margin-right: 62rem;
}

/* Individual card styling */
.data {
  background-color: #f3f3f6;
  border-left: 3px solid #beb9c5;
  padding-left: 1.5rem;
  width: 120px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.data h1 {
  font-size: 1.8rem;
  color: #7065f0;
  margin: 0;
}

.data p {
  font-size: 1rem;
  color: #7f8c8d;
  margin: 5px 0 0;
}
.label-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-right: 30rem;
  border-bottom: #7065f0 4px solid;
  background-color: white;
  margin-top: 5rem;
  padding-top: 10px;
  width: 130px;
}
.label-container .label {
  color: #7065f0;
}
